body {
  margin: 0;
  background: #000;
  width: 1800px;
  height: 1000px;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    opacity:;
}
