body {
  margin: 0;
  background: #000;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 150px;
  font-weight: lighter;
  margin: 0;
  margin-top: 100px;
  color: #D4AF37;
  animation-name: roadtorock;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-name: roadtorock; /* Compatibiltiy for Chrome, Safari, Opera */
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@keyframes roadtorock {
    from {color: #D4AF37;}
    to {color: white;}
}

@-webkit-keyframes roadtorock {
    from {color: #D4AF37;}
    to {color: white;}
}

h2 {
  display: block;
  font-weight: lighter;
  font-size: 70px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.start {
  display: block;
  background-color: white;
  border: 0;
  width: 400px;
  height: 150px;
  margin-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  font-size: 80px;
  opacity: .8;
  color: black;
  font-family: 'Monoton', cursive;
}

.username {
  display: block;
  margin: 0 auto;
  font-size: 80px;
  text-align: center;
  margin-top: 60px;
  border-radius: 50px;
  color: white;
  font-family: 'Raleway', sans-serif;
  border: 0;
  background-color: transparent;
}

.container {
    filter: blur(10px);
    text-align: center;
}

.submit {
  display: none;
}

.radio {
  width: 300px;
  height: 100px;
  border-radius: 50px;
  border: 0;
  margin-top: 60px;
  font-family: 'Monoton', cursive;
  font-size: 50px;
  background-color: #D4AF37;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .container {
    display: block;
    width: 100%;
    filter: blur(0px);
  }

  .radio {
    display: block;
    width: 100%;
    border-radius: 0px;
    margin: 0 auto;
    height: 125px;
  }

  video {
    display: none;
  }

   h1 {
     display: block;
     margin-top: 0px;
     padding-bottom: 10px;
     height: 125px;
     font-size: 70px;
     background-color: black;
     padding-top: 10px;
     box-sizing: border-box;
     width: 100%;
   }

   h2 {
     display: block;
     height: 125px;
     font-size: 40px;
     padding-top: 20px;
     background-color: black;
     box-sizing: border-box;
     width: 100%;
   }

   .username {
     display: block;
     background-color: white;
     height: 125px;
     margin-top: 0px;
     border-radius: 0px;
     width: 100%;
   }

}
